<!-- Banner Section -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="banner_desc">
          <h1 class="title">TU PIEL ES PARA TODA LA VIDA, LLÉVALA CON ORGULLO</h1>
          <p class="desc">TATUADOR EN CDMX
          </p>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>

<!-- Agendar Section -->
<section class="now">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="now_desc">
          <h1 class="title">¿Estas pensando en tatuarte?</h1>
          <p class="desc">
            Pongo a tu alcance una orientación sobre dónde y cómo hacerte el tatuaje que siempre has deseado.
            <br><br>
            Te dare un trato cercano y personalizado, porque sé que lo más importante para ti, es que quede mejor de lo que esperas.
          </p>
          <button class="btn btn-color">Agendar Cita</button>
        </div>
      </div>

      <div class="col-md-12 col-lg-6 now_img">
      </div>
    </div>
  </div>
</section>

<!-- Como tatuarse Seccion -->
<section class="how">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="how_desc">
          <h1 class="title">
            ¿CÓMO TATUARSE?
          </h1>

          <div class="item_list">
            <div class="item">
              <div class="item_header">
                <div class="item_image">
                  <i class="far fa-lightbulb"></i>
                </div>
              </div>
              <p class="item_title">TRAE TU IDEA</p>
              <p class="item_desc">
                Cuéntame que te gustaría tatuarte y te ayudo a definir lo que buscas
              </p>
            </div>
            <div class="item">
              <div class="item_header">
                <div class="item_image">
                  <i class="fas fa-pencil-alt"></i>
                </div>
              </div>
              <p class="item_title">TE ORIENTO</p>
              <p class="item_desc">
                Personalizare tu tatuaje para que sea único y exclusivo para ti
              </p>
            </div>
            <div class="item">
              <div class="item_header">
                <div class="item_image">
                  <i class="fas fa-dollar-sign"></i>
                </div>
              </div>
              <p class="item_title">TATUATE</p>
              <p class="item_desc">
                Al mejor precio, sin perder calidad ni pagar de más
              </p>
            </div>
            <div class="item">
              <div class="item_header">
                <div class="item_image">
                  <i class="fas fa-check"></i>
                </div>
              </div>
              <p class="item_title">CUIDADOS</p>
              <p class="item_desc">
                ¡Cuida tu tatuaje! Click <a href="#">aqui</a> para obtener más información
              </p>
            </div>
          </div>
          <div class="">
            <button class="item_btn" (click)="enviarAgendar()">AGENDAR CITA</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

