
/* Banner Section */

.banner_desc_form {
  text-align: center;
}

.title_form {
  color: #fff;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/tatuaje2.jpg");
  position: relative;
  background-size: cover;
  background-position: right center;
  padding: 180px 0;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.banner_desc h1.title {
  color: #fff;
  font-family: cursive !important;
}

.banner_desc p.desc {
  color: #fff;
  margin: 30px 0;
}

.btn-color {
  padding: 12px 30px;
  background: #3E92CC;
  color: #fff;
  border-radius: 25px;
  border: 1px solid transparent;
  margin-right: 20px;
  transition: all .5s cubic-bezier(0.65, 0.05, 0.051, 0.67);
  box-shadow: 1px 2px 4px 0 #00000075;
  font-size: 25px;
  font-weight: bold;
}

.btn-color:hover {
  background: transparent !important;
  color: #3E92CC;
  border: 1px solid #3E92CC !important;
  transition: all .5s cubic-bezier(0.65, 0.05, 0.051, 0.67);
}

/* Now Section */
.now {
  margin-top: 100px;
  margin-bottom: 100px;
}

.now_desc {
  text-align: center;
  padding-right: 50px;
}

.now .now_desc h1.title {
  margin-bottom: 35px;
}

.now  .now_desc p.desc{
  text-align: justify;
  font-size: 22px;
}

.now .now_desc button.btn {
  margin: 15px;
}

.now .now_img {
  background-image: url("../../../assets/flores.jpg");
  background-size: cover;
  background-position: center;
}

/* How Section  */
.how {
  background-color: #f7f7f7;
  padding-bottom: 70px;
}

.how_desc {
  text-align: center;
  padding-top: 60px;
}

.how_desc .title {
  margin-bottom: 50px;
}

.item {
  padding: 0px 18px;
}

.item_list {
  display: flex;
  justify-content: space-around;
}

.item_image {
  border: 5px solid;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}


.far, .fas {
  font-size: 80px;
  color: #f81d23;
}

.item_title {
  margin: 20px 0;
  font-weight: bold;
}

.item_header {
  display: flex;
  justify-content: center;
}

.item_desc {
  font-size: 12px;
}

.item_btn {
  margin: 25px 0;
  background-color: #f81d23;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
  width: 100%;
  transition: all .5s cubic-bezier(0.65, 0.05, 0.051, 0.67);
  border: 1px solid #f81d23;
}

.item_btn:hover {
  background: transparent;
  color: #f81d23;
  border: 1px solid #f81d23;
  transition: all .5s cubic-bezier(0.65, 0.05, 0.051, 0.67);
}

/* Media Queries */

/* Adjustable menu  */
@media(max-width:991px){
  .banner_desc h1.title {
    font-size: 30px !important;
  }

  .banner_desc p.desc {
    font-size: 20px !important;
  }

  .now_desc {
    padding-right: 0px !important;
  }

  .now .now_desc h1.title {
    font-size: 35px !important;
  }

  .how_desc .title {
    font-size: 30px !important;
  }

  .item_image {
    width: 160px !important;
    height: 160px !important;
    transition: all .5s;
  }

  .item {
    padding: 0px 10px !important;
  }
}

/* Small size */
@media(max-width:767px) {
  .banner_desc {
    text-align: center !important;
    padding: 0px 35px;
  }

  .item_list {
    display: block !important;
  }

  .item_desc {
    font-size: 20px !important;
  }

  .now {
    margin-top: 70px !important;
  }

  .how {
    padding-bottom: 50px !important;
  }

}

@media(max-width:575px) {
  .now .now_desc p.desc {
    font-size: 20px !important;
    padding: 0px 30px !important;
  }

  .now .now_desc button.btn {
    font-size: 20px !important;
  }

  .now {
    margin-bottom: 50px !important;
  }
}
