<!-- Footer section -->
<footer>
  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer_desc">
            <div class="footer_container">
              <h2 class="footer_title">Solo reservas</h2>
              <p class="footer_number">55 2693 5026</p>
              <p class="footer_email">zahid.butron@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
