<!-- Banner Section -->
<section class="banner_form">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="banner_desc_form">
          <h1 class="title_form">AGENDAR CITA</h1>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>

<!-- Agendar Section -->
<section class="agendar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="agendar_container">
          <h1 class="agendar_title">CONTÁCTAME</h1>
          <p class="agendar_desc">
            Si necesitas comunicarte para agendar una cita, contarme tu idea o pedir un diseño personalizado, no dudes en llenar el formulario o contactarme por alguno de los medios disponibles.
          </p>

          <div class="agendar_items">
            <div class="icon">
              <i class="fas fa-envelope"></i>
              <p class="icon_desc">zahid.butron@gmail.com</p>
            </div>

            <div class="icon">
              <i class="fas fa-mobile"></i>
              <p class="icon_desc">55 2693 5026</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6">
        <div class="formulario">
          <form>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="nombre">Nombre <span class="rojo">*</span></label>
                <input type="text" class="form-control" id="nombre">
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="Whatsapp">Whatsapp <span class="rojo">*</span></label>
                <input type="text" class="form-control" id="Whatsapp">
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="email">Correo</label>
                <input type="email" class="form-control" id="email">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="comentario">¿Qué necesitas? <span class="rojo">*</span></label>
                <textarea name="comentario" id="comentario" rows="4" class="form-control"></textarea>
              </div>
            </div>

            <button class="btn formulario_btn">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Como tatuarse Seccion -->
<section class="how">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="how_desc">
          <h1 class="title">
            ¿CÓMO TATUARSE?
          </h1>

          <div class="item_list">
            <div class="item">
              <div class="item_header">
                <div class="item_image">
                  <i class="far fa-lightbulb"></i>
                </div>
              </div>
              <p class="item_title">TRAE TU IDEA</p>
              <p class="item_desc">
                Cuéntame que te gustaría tatuarte y te ayudo a definir lo que buscas
              </p>
            </div>
            <div class="item">
              <div class="item_header">
                <div class="item_image">
                  <i class="fas fa-pencil-alt"></i>
                </div>
              </div>
              <p class="item_title">TE ORIENTO</p>
              <p class="item_desc">
                Personalizare tu tatuaje para que sea único y exclusivo para ti
              </p>
            </div>
            <div class="item">
              <div class="item_header">
                <div class="item_image">
                  <i class="fas fa-dollar-sign"></i>
                </div>
              </div>
              <p class="item_title">TATUATE</p>
              <p class="item_desc">
                Al mejor precio, sin perder calidad ni pagar de más
              </p>
            </div>
            <div class="item">
              <div class="item_header">
                <div class="item_image">
                  <i class="fas fa-check"></i>
                </div>
              </div>
              <p class="item_title">CUIDADOS</p>
              <p class="item_desc">
                ¡Cuida tu tatuaje! Click <a href="#">aqui</a> para obtener más información
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
